<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>马上快递运营中心</title>
	<link rel="stylesheet" type="text/css" href="resources/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="resources/css/jquery.dataTables.css">
	<link rel="stylesheet" type="text/css" href="resources/css/main.css">
	<!--[if lt IE 9]>
    <script src="resources/js/html5shiv.js"></script>
    <script src="resources/js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
	<div class="navbar navbar-inverse">
		<div class="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand" onclick="window.location.reload()">
							<small>
							 <i class="fa fa-send"></i>
							 &nbsp;马上快递运营中心
						  </small>
					</a>
				</div>
				<div class="navbar-header pull-right">
					<ul class="nav express-nav">
							<li id="nav-welcome" class="light-blue">
								<a href="javascript:void(0)">
										<img class="nav-user-photo" src="resources/images/avatars/user.jpg" >
										<span class="user-info">
											<small>欢迎,</small>
											<span id="display-name">Randall</span>
										</span>
										<i class="fa fa-arrow-circle-down"></i>
								</a> 
								<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="#"><i class="fa fa-cog"></i>设置</a>
								</li>
								<li>
									<a href="#"><i class="fa fa-user"></i>个人资料</a>
								</li>
								<li class="divider"></li>
								<li id="logout">
									<a href="#"><i class="fa fa-circle-o-notch"></i>退出</a>
								</li>
							</ul>
							</li>
					</ul>
				</div>
		</div>
	</div>
	
	
	<div class="sidebar"></div>	
	<div class="main-content">
		<div class="breadcrumbs">
			<ul class="breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="#">首页</a>
					</li>
				</ul>
		</div>
		<div class="page-content" id="page-content"></div>
		<div class="modal-container" id="modal-container"></div>
	</div>
	<div class="footer">
		Copyright &copy;马上快递
	</div>
	
	<div id="default-templates">
		<script id="sidebar-tmpl" type="text/x-jsrender">
				<ul class="nav nav-list" id="nav-list">
					{{for menuArray}}
					<li __menucode="{{:menucode}}">
						<a href="javascript:void(0)">
							<i class="fa {{:icon}}"></i>
							<span class="menu-text">{{:label}}</span>
							<i class="arrow fa fa-angle-down"></i>
						</a>
						<ul class="submenu">
							{{for subMenus}}
								<li __menucode="{{:menucode}}">
									<a href="javascript:void(0)">
										<i class="fa fa-double-angle-right"></i>
										{{:label}}
									</a>
								</li>
							{{/for}}
						</ul>
					</li>
					{{/for}}
				</ul>
		</script>
		<script id="breadcrumb-tmpl" type="text/x-jsrender">
				<li>
					<i class="fa {{:icon}}"></i>
					{{:label}}
				</li>
				<li><a href="javascript:void(0)" __menucode="{{:subMenucode}}">{{:subMenuLabel}}</a></li>
		</script>
		<script id="page-content-tmpl" type="text/x-jsrender">
				<i class="fa fa-5x fa-spin {{:icon}}"></i>
				敬请期待...
		</script>
		<script id="umeng-iframe-tmpl" type="text/x-jsrender">
				<iframe src="http://www.umeng.com/apps/4100008dd65107258db11ef4/reports" name="ument-iframe"class="umeng-iframe"></iframe>
		</script>
		<script id="data-table-tmpl" type="text/x-jsrender">
			<div class="search-box">
				名称：
				<input type="text" id="search-key" value="{{:searchKey}}" class="form-control">
				<input  type="hidden" id="current-menucode" value="{{:menucode}}" />
				<button type="button" id="search-btn" class="btn btn-success">查询</button> 
			</div>
			<table id="{{:id}}" class="table table-striped table-hover table-bordered">
					<thead>
						<tr>
							{{for thead}}
							<th>{{:name}}</th>
							{{/for}}
						</tr>
					</thead>
					<tbody>
						{{if emptyRow}}
							<tr>	
									<td colspan="{{:colspan}}" style="text-align:center">暂无结果</td>
						</tr>
						{{else}}
						{{for rows}}
						<tr>	
							{{for cols}}	
									{{if clickable}}
										<td><a class="row-key" entity_id="{{:id}}">{{:value}}</a></td>
									{{else}}
										<td>{{:value}}</td>
									{{/if}}						
									
							{{/for}}		
						</tr>
						{{/for}}
						{{/if}}
					</tbody>
				</table>
				{{if !emptyRow}}
				<ul class="pagination">
				  <li {{if disablePre}}class="disabled"{{/if}}><a  class="pager-pre"  href="javascript:void(0)">&laquo;</a></li>
				  {{for pager}}
				  	<li {{if active}}class="active"{{/if}}>
				  		<a class="pager-num "  href="javascript:void(0)">{{:num}}</a></li>
				  {{/for}}
				  <li {{if disableNext}}class="disabled"{{/if}}><a  class="pager-next" href="javascript:void(0)">&raquo;</a></li>
				</ul>
				{{/if}}
		</script>	

		<script id="modal-tmpl" type="text/x-jsrender">
			<div class="modal fade" id="detail-info-modal">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title">{{:title}}</h4>
			      </div>
			      <div class="modal-body">
			        <form role="form">
			        	{{for details}}
							  <div class="form-group">
							    <label>{{:label}}</label>
							    <input type="text" value="{{:value}}" class="form-control">
							  </div>
							  {{/for}}
							</form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			        <button type="button" class="btn btn-success">保存</button>
			      </div>
			    </div>
			  </div>
			</div>
		</script>

	</div>

	<div id="dynamic-templates"></div>
	<script src="resources/js/jquery-1.11.1.min.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/jquery.cookie.js"></script>
	<script src="resources/js/highcharts.js"></script>
	<script src="resources/js/jsrender.js"></script>
	<script src="resources/js/persenter.js"></script>
	<script src="resources/js/view.js"></script>
	<script src="resources/js/model.js"></script>
	<script type="text/javascript">
			if (window.express && window.express.admin) {
				var presenter = new window.express.admin.Persenter(
					new window.express.admin.View(), 
					new window.express.admin.Model());
				presenter.init();
			}
	</script>
</body>
</html>